/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*/

/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
  background-color: #FAFBFC;
  font-family: 'Nunito', sans-serif;
}

#form-container {
  margin: 75px 0;
  width: 416px;
  padding: 32px;
  border: 1px solid #C7E4FF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  background: #F2F9FF;
  display: inline-block;
  overflow: hidden;
  height: 250px;
  transition-property: height;
  transition-duration: 0.5s;
}

#form-container.expanded {
  height: 725px;
}

h1 {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #C7E4FF;
  color: #00386C;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

label {
  margin-bottom: 16px;
  color: #00386C;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  float: left;
}

input {
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 32px;
  border: 1px solid #C7E4FF;
  border-radius: 5px;
  color: inherit;
}

input:disabled {
  background-color: rgba(0, 0, 0, 0.06);
}


/*Prevent input background yellowing in Chrome. From http://labs.enonic.com/articles/remove-forced-yellow-input-background-in-chrome */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#email-warning {
  display: none;
  margin: 0;
  position: absolute;
  left: auto;
  top: 242px;
}

.warning {
  color: #d60202;
  display: block
}

@media only screen and (max-width: 500px) {
  #form-container {
    width: 90%;
  }
}
